a { text-transform: uppercase; }

h1,
h2,
label,
input {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 25px !important;
    letter-spacing: 2px;
    text-shadow: none !important;
}

h3,
li {
    text-transform: uppercase;
    font-size: 1em !important;
}

label.headerLabel {
    font-size: 20px;
}

label.priorityLabel {
    color: white !important;
    letter-spacing: 2px;
}

ul,
li {
    font-size: 15px;
}

select, option{
    vertical-align:top;
}

#homePage,
#addAToDoPage,
#viewMyToDosPage,
#viewToDoDetailsPage {
    background-image: url("../CSS/Images/desktopaqua.jpg");
    background-position: auto; 
    background-size: cover;
    background-repeat: no-repeat;
}


.basicMenuContainer {
    background-image: url("../CSS/Images/openspiralnotebook.png");
    background-size: cover;
    
    height: 800px;
    width: 800px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* @media screen and (max-width: 1000px) {
    .basicMenuContainer {
        height: 800px !important;
        width: 800px !important;
    }
} */

.stickyNoteMenuContainer {
    background-image: url("../CSS/Images/stickynote.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 1000px;
    height: 600px;

    position: fixed;
    top: 10%; /* calc((100% - 600px)/2); */
    left: calc((100% - 1000px)/2);

    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

/* HOME PAGE START -------------------------------------------*/

#homeHeader, 
#homeContent,
#homeFooter {
    background: transparent;
    border: none;
}

#homeFooter {padding-bottom: 30px;}

/*HOME PAGE END ---------------------------------------------*/


/*ADD A PAGE START -----------------------------------------*/
#addAToDoContent {
    background-color: rgba(255, 255, 255, 0.6);
    height: 630px;
    padding-left: 12%;
}

#addToDoCalendar {
    margin-left: 13%;
    top: 45%;
}

#priorityPicker, #toDoInputBox, #categoryPicker, #toDoDayPicker{
    width: 70%;
    text-align: center;
    margin-left: 13%;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    /* background-color: cornflowerblue; */
}

#addAToDoDiv, #radio {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/*ADD A PAGE END -----------------------------------------*/


/*VIEW TO DO PAGE START ---------------------------------------*/
#viewMyToDosContent {
    background-color: rgba(255, 255, 255, 0.6);
    height: 630px;
    padding-left: 12%;
    overflow: hidden;
}

.viewToDoItemContainer {
    display: flex;
    /* background-color: aqua; */
}

#leftSideViewToDoContainer {
    text-align: center;
    /* background-color: rgb(96, 96, 248); */
}

#toDoDisplay {
    width: 100%;
    overflow: auto;
    justify-content: center;
    text-align: center;
    /* background-color: yellow; */
}

#toDoDisplay label {
    cursor: pointer;
}

#toDoDisplay {
    margin-left: auto;
}
/*VIEW TO DO PAGE END ---------------------------------------*/


/*VIEW DETAILS PAGE START -------------------------------*/
#viewToDoDetailsHeader h1 {
    margin: 0 !important;
}

#viewToDoDetailsContent {
    padding: 15px 250px 0px 250px;
    text-align: center;
}


#viewToDoDetailsDropDown {
    display: flex;
    justify-content:space-evenly;
}

#viewToDoDetailsCalendar {
    left: 36.5%;
}

#viewToDoDetailsTaskDescription, #viewToDoDetailsTaskName {
    display:flex;
}

#viewToDoDetailsHeader,
#viewToDoDetailsContent,
#viewToDoDetailsFooter {
    margin-left: 30px;
    background: transparent;
    border: none;
}

#viewDetailsButtonContainer {
    display: flex;
    justify-content: center;
}

#viewToDoDetailsFooter {padding-bottom: 30px;}
/*VIEW DETAILS PAGE END -------------------------------*/



/*CALENDAR START -----------------------------------------------*/
table {
    border-collapse: collapse;
    margin: 1em;
    font-size: large;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}

td {
    background-color: white;
}

.calendarDays {
    cursor: pointer;
}

.dayPicker .dropDownCalendar {
    display: none;
}

.dayPicker:hover .dropDownCalendar, .dropDownCalendar:hover { /*Maybe change for on click, look for click highlighting?*/
    display:block;
    position: absolute;
    z-index: 100;
    background-color: white;
    border: 1px;
    border-style: solid;
}

/*CALENDAR END -------------------------------------------*/